@font-face {
  font-family: 'Avenir';
  src: url("../font/Avenir.otf");
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: -webkit-gradient(linear, left top, left bottom, from(#F6FAFD), color-stop(19.4%, #FFFFFF));
  background: linear-gradient(180deg, #F6FAFD 0%, #FFFFFF 19.4%);
}

/*------------------ NAVIGATION BAR----------------*/
.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 50px;
  height: 0;
  min-height: 10vh;
  -webkit-transition: height 1s ease-in-out;
  transition: height 1s ease-in-out;
  overflow: hidden;
}

@media (max-width: 1024px) {
  .navbar {
    background: white;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
    padding-top: 20px;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
}

@media (max-width: 600px) {
  .navbar {
    padding: 10px 20px;
  }
}

.navbar .navbar__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1024px) {
  .navbar .navbar__wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.navbar .navbar__wrap .navbar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 2%;
  padding-left: 10%;
}

@media (max-width: 1024px) {
  .navbar .navbar__wrap .navbar__list {
    padding-left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding-top: 50px;
  }
}

.navbar .navbar__wrap .navbar__list .navbar__item {
  list-style: none;
  padding: 0 30px;
}

@media (max-width: 1024px) {
  .navbar .navbar__wrap .navbar__list .navbar__item {
    padding: 30px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.navbar .navbar__wrap .navbar__list .navbar__item .navbar__link {
  text-decoration: none;
  color: #4b5d68;
  font-size: 16px;
  font-family: "Avenir";
}

.navbar .navbar__wrap .navbar__list .navbar__item .navbar__link_active {
  color: #212353;
  font-weight: bold;
}

.navbar .navbar__wrap .navbar__list .navbar__item .navbar__link:hover {
  font-weight: bold;
  color: #212353;
}

.navbar .navbar__button-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1024px) {
  .navbar .navbar__button-div {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 50px;
  }
}

.navbar .navbar__button-div .navbar__button {
  padding: 15px 20px;
  font-family: "Avenir";
  font-weight: bold;
  background: #fff;
  border: none;
  -webkit-box-shadow: 0px 5px 5px 0px #4b5d681a;
          box-shadow: 0px 5px 5px 0px #4b5d681a;
  border-radius: 50px;
  color: #212353;
  font-size: 16px;
  cursor: pointer;
}

.navbar .navbar__button-div .navbar__button .navbar__button-img {
  width: 30px;
  padding-left: 10px;
}

.navbar .navbar__toggle {
  display: block;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  text-align: right;
  width: 90%;
  font-size: 40px;
  display: none;
}

@media (max-width: 1024px) {
  .navbar .navbar__toggle {
    display: block;
  }
}

.collapse {
  height: 80vh;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

/*------------------ NAVIGATION BAR ends----------------*/
/*------------------ HERO SECTION----------------*/
.hero {
  padding: 50px;
}

@media (max-width: 600px) {
  .hero {
    padding: 50px 10px;
  }
}

.hero .hero__header-text {
  color: #212353;
  font-size: 50px;
  width: 60%;
  font-family: Helvetica;
}

@media (max-width: 1024px) {
  .hero .hero__header-text {
    width: 100%;
    font-size: 40px;
    text-align: center;
  }
}

@media (max-width: 600px) {
  .hero .hero__header-text {
    font-size: 30px;
  }
}

.hero .hero__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.hero .hero__wrap .hero__left {
  width: 30%;
}

@media (max-width: 1024px) {
  .hero .hero__wrap .hero__left {
    width: 100%;
    text-align: center;
  }
}

.hero .hero__wrap .hero__left .hero__text {
  padding-top: 50px;
  font-family: "Avenir";
  color: #4b5d68;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.5px;
  padding-bottom: 30px;
}

.hero .hero__wrap .hero__left .hero__button {
  padding: 0px 50px;
  font-family: "Avenir";
  color: #fff;
  background: #9c69e2;
  border: none;
  border-radius: 50px;
  height: 50px;
  font-size: 15px;
}

.hero .hero__wrap .hero__left .hero__button:hover {
  background: #f063b8;
  cursor: pointer;
}

.hero .hero__wrap .hero__right {
  width: 70%;
  margin-top: -7%;
}

@media (max-width: 1024px) {
  .hero .hero__wrap .hero__right {
    width: 100%;
    margin-top: 0;
    padding-top: 50px;
  }
}

.hero .hero__wrap .hero__right .hero__img {
  width: 100%;
}

/*------------------ HERO SECTION ENDS----------------*/
/*------------------ LEVEL SECTION----------------*/
.level {
  padding: 50px;
}

@media (max-width: 600px) {
  .level {
    padding: 50px 10px;
  }
}

.level .level__wrap {
  background: #f063b826;
  border-radius: 50px;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 600px) {
  .level .level__wrap {
    padding: 30px 20px;
  }
}

.level .level__wrap .level__left {
  width: 50%;
}

@media (max-width: 1024px) {
  .level .level__wrap .level__left {
    width: 100%;
  }
  .level .level__wrap .level__left .level__img {
    width: 100%;
  }
}

.level .level__wrap .level__right {
  width: 48%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1024px) {
  .level .level__wrap .level__right {
    text-align: center;
    padding-top: 50px;
    width: 100%;
  }
}

.level .level__wrap .level__right .level__header-text {
  font-size: 40px;
  font-family: Helvetica;
  color: #212353;
  padding-bottom: 40px;
}

@media (max-width: 600px) {
  .level .level__wrap .level__right .level__header-text {
    font-size: 30px;
  }
}

.level .level__wrap .level__right .level__text {
  font-family: "Avenir";
  color: #4b5d68;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.5px;
  padding-bottom: 30px;
}

/*------------------ LEVEL SECTION ENDS----------------*/
/*------------------ FEATURES SECTION----------------*/
.features {
  padding: 50px;
}

@media (max-width: 800px) {
  .features {
    padding: 50px 10px;
  }
}

.features__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.features__header .header__wrap {
  width: 50%;
  text-align: center;
}

@media (max-width: 1024px) {
  .features__header .header__wrap {
    width: 90%;
  }
}

@media (max-width: 500px) {
  .features__header .header__wrap {
    width: 100%;
  }
}

.features__header .header__wrap .header__wrap-hText {
  color: #212353;
  font-family: Helvetica;
  font-size: 40px;
  padding-bottom: 30px;
}

.features__header .header__wrap .header__wrap-text {
  color: #4b5d68;
  font-family: "Avenir";
  font-size: 16px;
  letter-spacing: 0.5px;
}

.features__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px 0;
}

.features__container .features__card {
  width: 48%;
  position: relative;
  margin-bottom: 50px;
}

@media (max-width: 1024px) {
  .features__container .features__card {
    width: 100%;
  }
}

.features__container .features__card .background-img {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
}

.features__container .features__card .background-img_one {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.features__container .features__card .background-img_one img {
  width: 250px;
  height: 250px;
}

.features__container .features__card .background-img_two {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.features__container .features__card .background-img_two img {
  width: 200px;
  height: 200px;
}

.features__container .features__card .background-img_three {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 30px;
}

.features__container .features__card .background-img_three img {
  width: 50px;
  height: 50px;
}

.features__container .features__card .background-img_four {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.features__container .features__card .background-img_four img {
  width: 250px;
  height: 250px;
}

.features__container .features__card .rectangle {
  position: absolute;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.features__container .features__card .rectangle .rectangle__child {
  height: 100%;
  width: 70%;
  border-radius: 0 0 50px 50px;
}

@media (max-width: 1024px) {
  .features__container .features__card .rectangle .rectangle__child {
    width: 100%;
  }
}

.features__container .features__card .rectangle .rectangle_one {
  background: url("../image/Rectangle 1.png");
  background-size: cover;
}

@media (max-width: 1024px) {
  .features__container .features__card .rectangle .rectangle_one {
    background: #68c9ba;
    opacity: 0.1;
    border-radius: 20px;
  }
}

.features__container .features__card .rectangle .rectangle_two {
  background: url("../image/Rectangle 2.png");
  background-size: cover;
}

@media (max-width: 1024px) {
  .features__container .features__card .rectangle .rectangle_two {
    background: #9c69e2;
    opacity: 0.1;
    border-radius: 20px;
  }
}

.features__container .features__card .rectangle .rectangle_three {
  background: url("../image/Rectangle 3.png");
  background-size: cover;
}

@media (max-width: 1024px) {
  .features__container .features__card .rectangle .rectangle_three {
    background: #f063b8;
    opacity: 0.1;
    border-radius: 20px;
  }
}

.features__container .features__card .rectangle .rectangle_four {
  background: url("../image/Rectangle 4.png");
  background-size: cover;
}

@media (max-width: 1024px) {
  .features__container .features__card .rectangle .rectangle_four {
    background: #2d9cdb;
    opacity: 0.1;
    border-radius: 20px;
  }
}

.features__container .features__card .card__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 0;
  height: 100%;
}

@media (max-width: 1024px) {
  .features__container .features__card .card__wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 50px 20px;
  }
}

@media (max-width: 1024px) {
  .features__container .features__card .card__wrap .card__left {
    padding-bottom: 20px;
  }
}

.features__container .features__card .card__wrap .card__right {
  padding-left: 30px;
}

@media (max-width: 1024px) {
  .features__container .features__card .card__wrap .card__right {
    text-align: center;
  }
}

.features__container .features__card .card__wrap .card__right-hText {
  color: #212353;
  font-family: Helvetica;
  font-weight: 500;
  font-size: 25px;
  padding-bottom: 20px;
}

.features__container .features__card .card__wrap .card__right-text {
  color: #4b5d68;
  font-family: "Avenir";
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 25.6px;
  padding-bottom: 20px;
}

.features__container .features__card .card__wrap .card__right-button {
  padding: 15px 20px;
  font-family: "Avenir";
  font-weight: bold;
  border: none;
  background: none;
  border-radius: 50px;
  color: #212353;
  font-size: 16px;
}

.features__container .features__card .card__wrap .card__right-button .navbar__button-img {
  width: 30px;
  padding-left: 10px;
  -webkit-transition: height 1s ease-in-out;
  transition: height 1s ease-in-out;
}

.features__container .features__card .card__wrap .card__right-button:hover {
  cursor: pointer;
}

/*------------------ FEATURES SECTION ENDS----------------*/
/*------------------ TESTIMONIALS SECTION ENDS----------------*/
.testmonial {
  width: 100%;
  height: 90vh;
  background: #9c69e2;
  padding: 50px;
  padding-right: 30%;
  overflow: hidden;
  margin-bottom: 100px;
  border-radius: 50px;
}

@media (max-width: 1024px) {
  .testmonial {
    padding: 50px 10px;
    text-align: center;
  }
}

.testmonial .testmonial__text {
  color: #fff !important;
  font-size: 40px;
  font-family: Helvetica;
  padding-bottom: 80px;
}

.testmonial .swiper-wrapper {
  height: 65%;
}

.testmonial .swiper-slide {
  font-size: 18px;
  background: #fff;
  border-radius: 50px;
  overflow: hidden;
  padding: 60px 70px 50px 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Avenir";
}

@media (max-width: 600px) {
  .testmonial .swiper-slide {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 10px;
  }
}

.testmonial .swiper-slide .swiper__left {
  width: 20%;
}

@media (max-width: 600px) {
  .testmonial .swiper-slide .swiper__left {
    width: 100%;
  }
}

.testmonial .swiper-slide .swiper__right {
  width: 60%;
  text-align: left;
}

@media (max-width: 800px) {
  .testmonial .swiper-slide .swiper__right {
    width: 80%;
  }
}

@media (max-width: 600px) {
  .testmonial .swiper-slide .swiper__right {
    width: 100%;
    text-align: center;
  }
}

.testmonial .swiper-slide .swiper__right .swiper__right-text {
  color: #212353;
  font-size: 18px;
  padding-bottom: 5px;
}

.testmonial .swiper-slide .swiper__right .swiper__right-job {
  color: #9c69e2;
  font-size: 14px;
  padding-bottom: 20px;
}

@media (max-width: 600px) {
  .testmonial .swiper-slide .swiper__right .swiper__right-job {
    padding-bottom: 10px;
  }
}

.testmonial .swiper-slide .swiper__right .swiper__right-content {
  font-size: 18px;
  line-height: 29px;
  color: #4b5d68;
}

@media (max-width: 600px) {
  .testmonial .swiper-slide .swiper__right .swiper__right-content {
    font-size: 14px;
  }
}

.testmonial .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background: #fff;
  opacity: 1;
}

.testmonial .swiper-pagination-bullet-active {
  background: #f063b8;
}

.testmonial .swiper-horizontal
> .testmonial .swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
.testmonial .swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  left: 5%;
  top: 95%;
}

@media (max-width: 500px) {
  .testmonial .swiper-horizontal
> .testmonial .swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
  .testmonial .swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
    left: 10%;
  }
}

.testmonial .swiper-button-next:after,
.testmonial .swiper-rtl .swiper-button-prev:after {
  content: unset;
}

.testmonial .swiper-button-prev,
.testmonial .swiper-rtl .swiper-button-next {
  left: 87%;
}

.testmonial .swiper-button-prev:after,
.testmonial .swiper-rtl .swiper-button-next:after {
  content: unset;
}

.testmonial .swiper-button-next,
.testmonial .swiper-button-prev {
  top: 95%;
  right: 20%;
}

.testmonial .swiper-button-next img,
.testmonial .swiper-button-prev img {
  width: 40px;
}

@media (max-width: 500px) {
  .testmonial .swiper-button-next img,
  .testmonial .swiper-button-prev img {
    width: 25px;
  }
}

/*------------------ TESTIMONIAL SECTION ENDS----------------*/
/*------------------ CALL-TO-ACTION SECTION----------------*/
.action {
  padding: 100px 50px;
  border-top: 3px solid #9b69e254;
}

@media (max-width: 600px) {
  .action {
    padding: 50px 20px;
  }
}

.action .action__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 800px) {
  .action .action__wrap .action__left {
    width: 100%;
    padding-bottom: 20px;
    text-align: center;
  }
}

.action .action__wrap .action__left .action__hText {
  color: #212353;
  font-family: Helvetica;
  font-size: 40px;
  padding-bottom: 20px;
}

@media (max-width: 500px) {
  .action .action__wrap .action__left .action__hText {
    font-size: 30px;
  }
}

.action .action__wrap .action__left .action__text {
  color: #4b5d68;
  font-family: "Avenir";
  font-size: 18px;
}

@media (max-width: 500px) {
  .action .action__wrap .action__left .action__text {
    font-size: 15px;
  }
}

@media (max-width: 800px) {
  .action .action__wrap .action__right {
    width: 100%;
    text-align: center;
  }
}

.action .action__wrap .action__right .action__button-one {
  padding: 0px 50px;
  font-family: "Avenir";
  color: #fff;
  background: #f063b8;
  border: none;
  border-radius: 50px;
  height: 50px;
  font-size: 15px;
  margin-right: 20px;
}

.action .action__wrap .action__right .action__button-one:hover {
  background: #9c69e2;
  cursor: pointer;
}

@media (max-width: 500px) {
  .action .action__wrap .action__right .action__button-one {
    margin-bottom: 20px;
    width: 100%;
  }
}

.action .action__wrap .action__right .action__button-two {
  padding: 15px 20px;
  font-family: "Avenir";
  font-weight: bold;
  background: #fff;
  border: none;
  -webkit-box-shadow: 0px 5px 5px 0px #4b5d681a;
          box-shadow: 0px 5px 5px 0px #4b5d681a;
  border-radius: 50px;
  color: #212353;
  cursor: pointer;
  font-size: 16px;
}

@media (max-width: 500px) {
  .action .action__wrap .action__right .action__button-two {
    width: 100%;
  }
}

.action .action__wrap .action__right .action__button-two .navbar__button-img {
  width: 30px;
  padding-left: 10px;
}

/*------------------ CALL-TO-ACTION SECTION ENDS----------------*/
/*------------------ FOOTER SECTION----------------*/
.footer {
  padding: 50px;
  font-family: "Avenir";
  color: #212353;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer .footer__Text {
  padding-bottom: 50px;
  font-size: 20px;
}

.footer ul li {
  font-size: 16px;
  padding-bottom: 20px;
  list-style: none;
}

.footer .footer__one {
  width: 30%;
}

@media (max-width: 1024px) {
  .footer .footer__one {
    width: 46%;
    padding-bottom: 50px;
  }
}

@media (max-width: 500px) {
  .footer .footer__one {
    width: 100%;
    text-align: center;
  }
}

.footer .footer__one .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 50px;
}

.footer .footer__one .logo .logo__text {
  font-weight: bold;
  font-size: 20px;
  padding-left: 30px;
}

.footer .footer__one .footer__one-hText {
  font-size: 16px;
  line-height: 29px;
  font-weight: 500;
  padding-bottom: 20px;
}

@media (max-width: 1024px) {
  .footer .footer__two {
    width: 46%;
    text-align: center;
    padding-bottom: 50px;
  }
}

@media (max-width: 500px) {
  .footer .footer__two {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .footer .footer__three {
    width: 46%;
    padding-bottom: 50px;
  }
}

@media (max-width: 500px) {
  .footer .footer__three {
    width: 100%;
    text-align: center;
  }
}

.footer .footer__four {
  width: 15%;
  text-align: center;
}

@media (max-width: 1024px) {
  .footer .footer__four {
    width: 46%;
    padding-bottom: 30px;
  }
}

@media (max-width: 500px) {
  .footer .footer__four {
    width: 100%;
  }
}

.footer .footer__four .social__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .footer__four .social__flex .social-bg {
  background: #212353;
  opacity: 0.2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
/*# sourceMappingURL=style.css.map */